@charset "ISO-8859-1";

body {
  background: #333;
  margin: 0;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #333;
    color: #f2f2f2;
}

.panel > .panel-body {
    background-image: none;
    background: linear-gradient(to bottom left, #333 0%, #4CAF50 100%);
    color: #f2f2f2;
}

.panel > .panel-footer {
    background-image: none;
    background-color: #333;
    color: #f2f2f2;

}

.btn-all {
    background-color: #333;
    color: #f2f2f2;
}

.btn-all:hover {
    background-color: #ddd;
  	color: black;
}

.buttonDivider{
    width:5px;
    height:auto;
    display:inline-block;
}

th, td {
    padding: 10px;
}